body {
  margin: 0;
  font-family: 'Arial';
}
header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 25px 0;
}
#github {
  width: 168px;
  color: #737373;
  font-size: 24px;
  text-decoration: none;
  background-color: #B5C5C5;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 25px;
  padding: 10px;
  display: block;
}
#github:hover {
  color: #010101;
}
#github span {
  font-size: 20px;
  font-family: serif, sans-serif;
}
#demo {
  width: 960px;
  margin: auto;
  position: relative;
}
#drop-video,
#drop-ASS {
  width: 620px;
  font-size: 28px;
  text-align: center;
  height: 340px;
  border: 10px dashed #CCC;
  display: inline-block;
}
#drop-ASS {
  width: 300px;
  float: right;
}
#info {
  width: 318px;
  height: 358px;
  float: right;
  border: 1px solid #CCC;
}
#info dl {
  height: 358px;
  margin: 0;
  white-space: nowrap;
  overflow-y: scroll;
}
#info dt {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
#info dd {
  width: 260px;
  overflow: hidden;
}
#error {
  width: 280px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #FFF;
  background-color: #CA3C3C;
  position: absolute;
  padding: 10px 0;
  border-radius: 8px;
  z-index: 9;
  left: 340px;
  display: none;
}
#error span {
  color: #FFF;
  font-size: 30px;
  cursor: default;
}
