body, dl, dd, h1, h2 {
  margin: 0;
  padding: 0;
}
body {
  color: #333;
  font-size: 16px;
  font-family: sans-serif;
}
video {
  width: 640px;
  height: 360px;
  background: #000;
}
#site-header {
  background: #d7bcf0;
  text-align: center;
  padding: 1em 0;
}
#site-title {
  font-size: 3em;
  font-weight: normal;
}
#site-subtitle {
  font-size: 1em;
  font-weight: normal;
  padding-bottom: 1em;
}
.wrapper {
  width: 960px;
  text-align: center;
  margin: auto;
  margin-top: 1em;
}
fieldset {
  text-align: left;
  display: inline-block;
}
#demo>div {
  display: inline-block;
}
.drop-area {
  height: 340px;
  font-size: 2em;
  text-align: center;
  border: 10px dashed #ccc;
  position: relative;
}
.drop-area input {
  width: 100%;
  height: 340px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.drop-text {
  width: 100%;
  line-height: 1;
  position: absolute;
  top: 154px;
}
#drop-video {
  width: 620px;
}
#drop-ASS {
  width: 300px;
}
#info {
  width: 318px;
  height: 358px;
  font-family: 'Source Code Pro', Courier;
  text-align: left;
  border: 1px solid #ccc;
  float: right;
}
#info dl {
  height: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}
#info dt {
  font-size: 1.5em;
  font-weight: bold;
}
#info dd {
  padding-left: 1em;
  overflow: hidden;
}
#message {
  padding: .5em;
  position: fixed;
  bottom: 1em;
  right: 1em;
  opacity: 1;
}
.transition {
  transition: opacity 4s cubic-bezier(1,0,1,1);
}
.error {
  background-color: #d5515f;
}
.error:before {
  content: 'Error: ';
}
.success {
  background-color: #48b551;
}
.success:before {
  content: 'Success: ';
}
